
#
# OS SYSTEM FILES
#
.DS_Store
.profile
Thumbs.db

#
# EDITORS BACKUP AND TEMPORARY FILES
#
*.bak
*.tmp
*.kate-swp

#
# PYTHON
#
__pycache__/
venv/
venv-*/

#
# User-specific files and folders
#
*~.*
*~/

#
# IDES AND EDITORS
#
Xcodeproj/
.xcuserdata/
.vscode/
*.sublime-project
*.sublime-workspace
.aider*
